In [8]:
import duckdb

In [9]:
# Connection à la BD
conn = duckdb.connect('data.db')

In [10]:
# Requêtage SQL converti en DF polars :
# Filtre sur les condamnés n'ayant pas résidé à Dallas
conn.execute("""
SELECT FirstName, LastName, County FROM executions
    WHERE NOT County = 'Dallas';
             """).pl()

shape: (494, 3)
┌─────────────────────┬─────────────┬───────────┐
│ FirstName           ┆ LastName    ┆ County    │
│ ---                 ┆ ---         ┆ ---       │
│ str                 ┆ str         ┆ str       │
╞═════════════════════╪═════════════╪═══════════╡
│ Christopher Anthony ┆ Young       ┆ Bexar     │
│ Danny Paul          ┆ Bible       ┆ Harris    │
│ Juan Edward         ┆ Castillo    ┆ Bexar     │
│ Erick Daniel        ┆ Davila      ┆ Tarrant   │
│ …                   ┆ …           ┆ …         │
│ Thomas              ┆ Barefoot    ┆ Bell      │
│ Ronald              ┆ O'Bryan     ┆ Harris    │
│ James               ┆ Autry       ┆ Jefferson │
│ Charlie             ┆ Brooks, Jr. ┆ Tarrant   │
└─────────────────────┴─────────────┴───────────┘

In [12]:
# Requêtage SQL converti en DF polars :
# Liste des condamnés excepté ceux commençant par le nom avec la lettre A
conn.execute("""
    SELECT LastName, FirstName FROM executions
    WHERE LastName NOT LIKE 'A%'; 
            """).pl()

shape: (532, 2)
┌─────────────┬─────────────────────┐
│ LastName    ┆ FirstName           │
│ ---         ┆ ---                 │
│ str         ┆ str                 │
╞═════════════╪═════════════════════╡
│ Young       ┆ Christopher Anthony │
│ Bible       ┆ Danny Paul          │
│ Castillo    ┆ Juan Edward         │
│ Davila      ┆ Erick Daniel        │
│ …           ┆ …                   │
│ Skillern    ┆ Doyle               │
│ Barefoot    ┆ Thomas              │
│ O'Bryan     ┆ Ronald              │
│ Brooks, Jr. ┆ Charlie             │
└─────────────┴─────────────────────┘

In [13]:
# Requêtage SQL converti en DF polars :
# Condamnés n'ayant pas un âge compris entre 30 et 50 ans lors de leurs
conn.execute("""
    SELECT LastName, FirstName , AgeatExecution FROM executions
    WHERE AgeatExecution NOT BETWEEN 30 AND 50;          
            """).pl()

shape: (125, 3)
┌────────────┬──────────────┬────────────────┐
│ LastName   ┆ FirstName    ┆ AgeatExecution │
│ ---        ┆ ---          ┆ ---            │
│ str        ┆ str          ┆ i64            │
╞════════════╪══════════════╪════════════════╡
│ Bible      ┆ Danny Paul   ┆ 66             │
│ Battaglia  ┆ John David   ┆ 62             │
│ Rayford    ┆ William Earl ┆ 64             │
│ Shore      ┆ Anthony      ┆ 55             │
│ …          ┆ …            ┆ …              │
│ Barney     ┆ Jeffery      ┆ 28             │
│ Rumbaugh   ┆ Charles      ┆ 28             │
│ De La Rosa ┆ Jesse        ┆ 24             │
│ Autry      ┆ James        ┆ 29             │
└────────────┴──────────────┴────────────────┘

In [19]:
# Requêtage SQL converti en DF polars :
# Condamnés qui ne sont ni 'Black' ni 'Hispanic'
conn.execute("""
   SELECT LastName, FirstName, Race FROM executions
   WHERE Race NOT IN ('Black', 'Hispanic');         
            """).pl()

shape: (247, 3)
┌───────────┬─────────────┬───────┐
│ LastName  ┆ FirstName   ┆ Race  │
│ ---       ┆ ---         ┆ ---   │
│ str       ┆ str         ┆ str   │
╞═══════════╪═════════════╪═══════╡
│ Bible     ┆ Danny Paul  ┆ White │
│ Battaglia ┆ John David  ┆ White │
│ Shore     ┆ Anthony     ┆ White │
│ Pruett    ┆ Robert Lynn ┆ White │
│ …         ┆ …           ┆ …     │
│ Skillern  ┆ Doyle       ┆ White │
│ Barefoot  ┆ Thomas      ┆ White │
│ O'Bryan   ┆ Ronald      ┆ White │
│ Autry     ┆ James       ┆ White │
└───────────┴─────────────┴───────┘

In [20]:
# Requêtage SQL converti en DF polars :
# Condamnés n'ayant pas plus de 29 ans lors de leurs exécutions
conn.execute("""
    SELECT LastName, FirstName, AgeatExecution FROM executions      
    WHERE NOT AgeatExecution > 29;
            """).pl()

shape: (57, 3)
┌────────────┬───────────┬────────────────┐
│ LastName   ┆ FirstName ┆ AgeatExecution │
│ ---        ┆ ---       ┆ ---            │
│ str        ┆ str       ┆ i64            │
╞════════════╪═══════════╪════════════════╡
│ Lopez      ┆ Daniel    ┆ 27             │
│ Doyle      ┆ Anthony   ┆ 29             │
│ Cobb       ┆ Richard   ┆ 29             │
│ Adams      ┆ Beunka    ┆ 29             │
│ …          ┆ …         ┆ …              │
│ Barney     ┆ Jeffery   ┆ 28             │
│ Rumbaugh   ┆ Charles   ┆ 28             │
│ De La Rosa ┆ Jesse     ┆ 24             │
│ Autry      ┆ James     ┆ 29             │
└────────────┴───────────┴────────────────┘

In [ ]:
# Requêtage SQL converti en DF polars :
# Condamnés n'ayant pas moins de 60 ans lors de leurs exécutions
conn.execute("""
    SELECT LastName, FirstName, AgeatExecution FROM executions
    WHERE NOT AgeatExecution < 60
    ORDER BY AgeatExecution DESC, LastName;        
             """).pl()