In [1]:
import duckdb

In [2]:
# Connection à la base de données
conn = duckdb.connect('data.db')

In [6]:
# Exécution de la requête SQL et conversion en DF polars :
# Afficher toute la table avec le filtre County = 'Dallas'
conn.execute("""
             SELECT * FROM executions
             WHERE County = 'Dallas'; 
             """).pl().head()

shape: (5, 18)
┌───────────┬───────────┬────────────┬────────────┬───┬────────┬────────────┬───────────┬────────────┐
│ Execution ┆ DateofBir ┆ DateofOffe ┆ HighestEdu ┆ … ┆ Height ┆ NativeCoun ┆ NativeSta ┆ LastStatem │
│ ---       ┆ th        ┆ nce        ┆ cationLeve ┆   ┆ ---    ┆ ty         ┆ te        ┆ ent        │
│ i64       ┆ ---       ┆ ---        ┆ l          ┆   ┆ str    ┆ ---        ┆ ---       ┆ ---        │
│           ┆ str       ┆ str        ┆ ---        ┆   ┆        ┆ str        ┆ str       ┆ str        │
│           ┆           ┆            ┆ str        ┆   ┆        ┆            ┆           ┆            │
╞═══════════╪═══════════╪════════════╪════════════╪═══╪════════╪════════════╪═══════════╪════════════╡
│ 548       ┆ 1955-08-0 ┆ 2001-05-02 ┆ 12         ┆ … ┆ 6' 0"  ┆ Dallas     ┆ Texas     ┆ No, Well,  │
│           ┆ 2         ┆            ┆            ┆   ┆        ┆            ┆           ┆ Hi Mary    │
│           ┆           ┆            ┆            ┆   ┆        ┆            ┆           ┆ Jean. See  │
│           ┆           ┆            ┆            ┆   ┆        ┆            ┆           ┆ y'al…      │
│ 547       ┆ 1953-05-2 ┆ 1999-11-16 ┆ 12         ┆ … ┆ 6' 4"  ┆ Dallas     ┆ Texas     ┆ First I    │
│           ┆ 1         ┆            ┆            ┆   ┆        ┆            ┆           ┆ would like │
│           ┆           ┆            ┆            ┆   ┆        ┆            ┆           ┆ to praise  │
│           ┆           ┆            ┆            ┆   ┆        ┆            ┆           ┆ my …       │
│ 540       ┆ 1973-08-1 ┆ 2002-07-08 ┆ 12         ┆ … ┆ 5' 7"  ┆ Dallas     ┆ Texas     ┆ Yes, I     │
│           ┆ 0         ┆            ┆            ┆   ┆        ┆            ┆           ┆ made peace │
│           ┆           ┆            ┆            ┆   ┆        ┆            ┆           ┆ with God.  │
│           ┆           ┆            ┆            ┆   ┆        ┆            ┆           ┆ I ho…      │
│ 530       ┆ 1982-07-0 ┆ 2001-11-25 ┆ 8          ┆ … ┆ 5' 6"  ┆ Dallas     ┆ Texas     ┆ Shelby,    │
│           ┆ 3         ┆            ┆            ┆   ┆        ┆            ┆           ┆ God bless  │
│           ┆           ┆            ┆            ┆   ┆        ┆            ┆           ┆ your       │
│           ┆           ┆            ┆            ┆   ┆        ┆            ┆           ┆ heart. To… │
│ 521       ┆ 1962-05-1 ┆ 2000-12-24 ┆ 6          ┆ … ┆ 6' 0"  ┆ Bernalillo ┆ New       ┆ That each  │
│           ┆ 8         ┆            ┆            ┆   ┆        ┆            ┆ Mexico    ┆ new        │
│           ┆           ┆            ┆            ┆   ┆        ┆            ┆           ┆ indignity  │
│           ┆           ┆            ┆            ┆   ┆        ┆            ┆           ┆ defeats …  │
└───────────┴───────────┴────────────┴────────────┴───┴────────┴────────────┴───────────┴────────────┘

In [9]:
# Exécution de la requête SQL convertie en DF polars : 
# Afficher certains champs de la table avec les condamnés ayant au moins de 60 ans
# lors de leurs exécutions
conn.execute("""
SELECT Firstname, LastName, AgeatExecution FROM executions
    WHERE AgeatExecution >= 60 ORDER BY AgeatExecution DESC;   
             """).pl()

shape: (13, 3)
┌──────────────┬──────────┬────────────────┐
│ FirstName    ┆ LastName ┆ AgeatExecution │
│ ---          ┆ ---      ┆ ---            │
│ str          ┆ str      ┆ i64            │
╞══════════════╪══════════╪════════════════╡
│ Lester       ┆ Bower    ┆ 67             │
│ Danny Paul   ┆ Bible    ┆ 66             │
│ William      ┆ Chappell ┆ 66             │
│ William Earl ┆ Rayford  ┆ 64             │
│ …            ┆ …        ┆ …              │
│ Richard      ┆ Duncan   ┆ 61             │
│ Joseph       ┆ Faulder  ┆ 61             │
│ Excell       ┆ White    ┆ 61             │
│ Claude       ┆ Jones    ┆ 60             │
└──────────────┴──────────┴────────────────┘

In [10]:
# Exécution de la requête SQL et convertion en DF polars :
# Afficher certaines champs de la table avec les condamnés qui ne sont pas nés
# dans l'État du Texas
conn.execute("""
SELECT FirstName, LastName, NativeState FROM executions
    WHERE NOT NativeState = 'Texas';
             """).pl()

shape: (184, 3)
┌───────────┬─────────────┬──────────────┐
│ FirstName ┆ LastName    ┆ NativeState  │
│ ---       ┆ ---         ┆ ---          │
│ str       ┆ str         ┆ str          │
╞═══════════╪═════════════╪══════════════╡
│ Anthony   ┆ Shore       ┆ South Dakota │
│ Barney    ┆ Fuller      ┆ Ohio         │
│ Lester    ┆ Bower       ┆ Missouri     │
│ Kent      ┆ Sprouse     ┆ Missouri     │
│ …         ┆ …           ┆ …            │
│ Lawrence  ┆ Buxton      ┆ Georgia      │
│ James     ┆ Smith       ┆ Kentucky     │
│ James     ┆ Paster      ┆ Ohio         │
│ Raymond   ┆ Landry, Sr. ┆ Louisiana    │
└───────────┴─────────────┴──────────────┘

In [11]:
# Requête SQL et conversion en DF polars:
# Afficher certaines champs de la table avec les condamnés qui ne sont pas nés
# dans l'État du Texas et ayant exécutés avec un âge de moins de 60 ans
conn.execute("""
SELECT FirstName, LastName, AgeatExecution, NativeState FROM executions
    WHERE NOT NativeState = 'Texas' AND AgeatExecution < 60;
             """).pl()

shape: (180, 4)
┌───────────┬─────────────┬────────────────┬──────────────┐
│ FirstName ┆ LastName    ┆ AgeatExecution ┆ NativeState  │
│ ---       ┆ ---         ┆ ---            ┆ ---          │
│ str       ┆ str         ┆ i64            ┆ str          │
╞═══════════╪═════════════╪════════════════╪══════════════╡
│ Anthony   ┆ Shore       ┆ 55             ┆ South Dakota │
│ Barney    ┆ Fuller      ┆ 58             ┆ Ohio         │
│ Kent      ┆ Sprouse     ┆ 42             ┆ Missouri     │
│ Manuel    ┆ Vasquez     ┆ 46             ┆ Idaho        │
│ …         ┆ …           ┆ …              ┆ …            │
│ Lawrence  ┆ Buxton      ┆ 38             ┆ Georgia      │
│ James     ┆ Smith       ┆ 37             ┆ Kentucky     │
│ James     ┆ Paster      ┆ 44             ┆ Ohio         │
│ Raymond   ┆ Landry, Sr. ┆ 39             ┆ Louisiana    │
└───────────┴─────────────┴────────────────┴──────────────┘