In [2]:
import duckdb

In [3]:
# Connection à la BD
conn = duckdb.connect('data.db')

In [4]:
# Requêtage SQL converti en DF polars :
# Filtre sur les condamnés qui ont fait une déclaration lors de leurs
# exécutions
conn.execute("""
SELECT LastName, FirstName FROM executions 
    WHERE LastStatement IS NOT NULL ORDER BY LastName;
             """).pl()

shape: (443, 2)
┌────────────┬─────────────────────┐
│ LastName   ┆ FirstName           │
│ ---        ┆ ---                 │
│ str        ┆ str                 │
╞════════════╪═════════════════════╡
│ Adams      ┆ Beunka              │
│ Adanandus  ┆ Dwight              │
│ Aguilar    ┆ Jesus               │
│ Alba       ┆ John                │
│ …          ┆ …                   │
│ Wyatt, Jr. ┆ William             │
│ Young      ┆ Christopher Anthony │
│ Yowell     ┆ Michael             │
│ Zimmerman  ┆ Kevin               │
└────────────┴─────────────────────┘