In [1]:
import duckdb

In [2]:
# Connection à la base de données
conn = duckdb.connect('data.db')

In [4]:
# Exécution de la requête SQL et conversion en DF polars :
# Liste par ordre croissant des condamnés
conn.execute("""
SELECT FirstName, LastName FROM executions
    ORDER BY LastName, FirstName;
             """).pl()

shape: (552, 2)
┌─────────────────────┬────────────┐
│ FirstName           ┆ LastName   │
│ ---                 ┆ ---        │
│ str                 ┆ str        │
╞═════════════════════╪════════════╡
│ Beunka              ┆ Adams      │
│ Timothy             ┆ Adams      │
│ Dwight              ┆ Adanandus  │
│ Jesus               ┆ Aguilar    │
│ …                   ┆ …          │
│ William             ┆ Wyatt, Jr. │
│ Christopher Anthony ┆ Young      │
│ Michael             ┆ Yowell     │
│ Kevin               ┆ Zimmerman  │
└─────────────────────┴────────────┘

In [5]:
# Exécution de la requête SQL convertie en DF Polars :
# Affichage de certains champs de l'age des prisonniers lors de l'exécution par
# trie décroissant
conn.execute("""
SELECT FirstName, LastName, AgeatExecution FROM executions
    ORDER BY AgeatExecution DESC;
             """).pl()

shape: (552, 3)
┌──────────────┬────────────┬────────────────┐
│ FirstName    ┆ LastName   ┆ AgeatExecution │
│ ---          ┆ ---        ┆ ---            │
│ str          ┆ str        ┆ i64            │
╞══════════════╪════════════╪════════════════╡
│ Lester       ┆ Bower      ┆ 67             │
│ Danny Paul   ┆ Bible      ┆ 66             │
│ William      ┆ Chappell   ┆ 66             │
│ William Earl ┆ Rayford    ┆ 64             │
│ …            ┆ …          ┆ …              │
│ Richard      ┆ Andrade    ┆ 25             │
│ Toronto      ┆ Patterson  ┆ 24             │
│ Jay          ┆ Pinkerton  ┆ 24             │
│ Jesse        ┆ De La Rosa ┆ 24             │
└──────────────┴────────────┴────────────────┘

In [7]:
# Exécution de la requête SQL convertie en DF Polars :
# Multi trie : trie des États par ordre croissant 
# et des noms par ordre décroissant
conn.execute("""
SELECT County, LastName, FirstName FROM executions
    ORDER BY County, LastName DESC             
             """).pl()

shape: (552, 3)
┌────────────┬───────────┬───────────┐
│ County     ┆ LastName  ┆ FirstName │
│ ---        ┆ ---       ┆ ---       │
│ str        ┆ str       ┆ str       │
╞════════════╪═══════════╪═══════════╡
│ Anderson   ┆ Simpson   ┆ Danielle  │
│ Anderson   ┆ Patterson ┆ Kelsey    │
│ Anderson   ┆ Delk      ┆ Monty     │
│ Anderson   ┆ Cook      ┆ Bobby     │
│ …          ┆ …         ┆ …         │
│ Williamson ┆ Muniz     ┆ Pedro     │
│ Williamson ┆ Jackson   ┆ Tommy     │
│ Williamson ┆ Granados  ┆ Carlos    │
│ Wood       ┆ Riley     ┆ Michael   │
└────────────┴───────────┴───────────┘