[Importer depuis Pandas](https://duckdb.org/docs/archive/0.9.2/guides/python/import_pandas) <br>
[Exporter vers Pandas](https://duckdb.org/docs/archive/0.9.2/guides/python/export_pandas)

<b>Les traitements vont d'une DF pandas à des requêtes SQL ou vont de requêtes SQL vers une DF pandas</b>

Date : 01-01-2024

In [1]:
import duckdb
import pandas as pd

<b>Requêtes SQL à partir d'un import d'une DF pandans

In [2]:
# Création d'une DF pandas
input_df = pd.DataFrame.from_dict({'i': [1, 2, 3, 4],
                                   'j': ["one", "two", "three", "four"]})
input_df

   i      j
0  1    one
1  2    two
2  3  three
3  4   four

In [3]:
duckdb.sql("CREATE TABLE input_table AS SELECT * FROM input_df")

In [4]:
duckdb.sql("INSERT INTO input_table SELECT * FROM input_df")

<b>Export en pandas DF depuis une requête SQL

In [6]:
results = duckdb.sql("SELECT 42").df()
results

   42
0  42